header{
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
  }
  .ativo {
    display: none;
  }
}

main{
  background-color: var(--secondary);
  padding: var(--padding);
}
